<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Grant Thornton iHub</h1>
    <p>This website is used to transform flat files such as .dat, .csv, and .txt to formats usable by Oracle Cloud products. To learn more about how to begin transforming your files, click the button below.</p>
    <p><a class="btn btn-primary btn-lg" routerLink="/pages/about" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">View All Projects</h3>
          <p class="card-text">Projects contain a set of integrations and assigned users.</p>
          <a class="btn btn-secondary" routerLink="/pages/projects" role="button">View Projects</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">View All Integrations</h3>
          <p class="card-text">Integrations contain all of the conversions necessary to convert data from one system to another.</p>
          <a class="btn btn-secondary" routerLink="/pages/integrations" role="button">View Integrations</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">View All Conversions</h3>
          <p class="card-text">Conversions define the formats and maps for data being converted.</p>
          <a class="btn btn-secondary" routerLink="/pages/conversions" role="button">View Conversions</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">View All Formats</h3>
          <p class="card-text">Formats define the structure of data file or data returned from API calls.</p>
          <a class="btn btn-secondary" routerLink="/pages/formats" role="button">View Integrations</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">View All Maps</h3>
          <p class="card-text">Maps define how the fields from input files or data are converted to target formats.</p>
          <a class="btn btn-secondary" routerLink="/pages/maps" role="button">View Integrations</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">View All Fields</h3>
          <p class="card-text">Fields are representations of single values from delimited files or API calls.</p>
          <a class="btn btn-secondary" routerLink="/pages/fields" role="button">View Integrations</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">View System Logs</h3>
          <p class="card-text">Logs are kept for maps which have been run, as well as other events like API calls and file extractions.</p>
          <a class="btn btn-secondary" routerLink="/pages/logs" role="button">View Logs</a>
        </div>
      </div>
    </div>
  </div>
</div>
    
